<header role="banner" class="navbar navbar-inverse navbar-fixed-top bs-docs-nav">
	<div class="navbar-header" style="margin-left:100px;">
		<a href="http://www.indite.club/" target="_blank" title="银带空间"><img src="/resources/images/logo.png" height="50px"></a>
		<span style="color:rgb(219, 219, 219);;font-size: 18px;height: 50px;line-height: 20px;">银带俱乐部 </span>
			</div>
	<div class="container bs-docs-container">
		<nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse">
						<ul class="nav navbar-nav" style="float: left;">
							<li ><a  href="http://blog.indite.club/">首页</a>
									</li>
							<li ><a  href="http://blog.indite.club/technology"><span class="glyphicon glyphicon-pencil"></span> 技术笔记</a></li>
							<li class="dropdown"><a data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-book"></span> 文学 <span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li ><a href="/article">诗词</a></li>
									<li ><a href="/article">小说</a></li>
									<li ><a href="/article">散文</a></li>
								</ul>
							</li>
							<li ><a  href="http://blog.indite.club/"><span class="glyphicon glyphicon-facetime-video"></span> 摄影</a></li>
							<li ><a  href="http://blog.indite.club/"><span class="glyphicon glyphicon-music"></span> 音乐</a></li>
							<li ><a  href="http://blog.indite.club/"><span class="glyphicon glyphicon-picture"></span> 动漫</a></li>
							<li ><a  href="http://blog.indite.club/"><span class="glyphicon glyphicon-film"></span> 电影</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right" style="float: right;">
				<li><a href="#" class="glyphicon glyphicon-user"> 墨妄</a></li>
				<li><a href="http://www.indite.club/logout" class="glyphicon glyphicon-log-out"> 退出</a></li>
			</ul>
		</nav>
	</div>
</header>