<div id="footer" >
    <div class="footWrap pw oh">
        <div class="bNav">
            <a href="#" target="_blank" class="first" style="background-image: none;">关于我们</a>|<a href="#" target="_blank" >联系我们</a>|<a href="http://www.artron.net/map.php" target="_blank" >网站地图</a>|<a href="#" target="_blank" >版权说明</a>|<a href="#" target="_blank" >免责声明</a>|<a href="#" target="_blank" >隐私权保护</a></div>
        <div class="copyright">Copyright&nbsp;&copy;&nbsp;Artron.net&nbsp;&nbsp;<a target="_blank" href="#">粤ICP备11054908号-15</a>&nbsp;&nbsp;京公网安备110113000792号</div>
    </div>
</div>
<div id="anchor">
    <div id="toTop" title="返回顶部">返回顶部</div>
    <a id="message" target="_blank" title="意见反馈" href="#">意见反馈</a>
</div>

<!--百度代码 begin-->
<script type="text/javascript">
{literal}
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F851619594aa1d1fb8c108cde832cc127' type='text/javascript'%3E%3C/script%3E"));
{/literal}
</script>
<!--百度代码 end-->