<footer class="bs-docs-footer" role="contentinfo">
  <div class="container">
  	<p style="font-size: 14px;"><span>当前版本： v1.0.0</span>&middot;<span><a href="https://github.com/BravenHao/blog.indite.club">GitHub 仓库</a></span>&middot;<span><a href="http://blog.indite.club">官方博客</a></span></p>
  </div>
</footer>
<script type="text/javascript">
    var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
    document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F3d8e7fc0de8a2a75f2ca3bfe128e6391' type='text/javascript'%3E%3C/script%3E"));
 </script>