<!DOCTYPE html>
<html>
<head>
{% include header.html %}
<title>{{ page.title }}</title>
</head>
<body class="jumbotron">
{% include banner.html %}
<div class="container" style="margin-top:30px;">
	<div class="col-md-3" style="margin-top:20px;">
		<div class="col-xs-12 col-md-12">
			<h4><a href="/">首页</a>>><a href="/article">文学</a>>><a href="/article">小说</a></h4>
		    <a href="#" class="thumbnail">
		      <img src="/resources/images/bookcover/{{page.bookcover}}" alt="..." style="height: 240px; width: 100%; display: block;">
		    </a>
		    <table class="table table-hover">
			  	<thead><tr><th colspan="2">{{ page.title }}</th></tr></thead>
			  	<tbody>
			  		<tr><td>作者：</td><td>{{ page.author}}</td></tr>
			  	</tbody>
			</table>
		  </div>
	</div>
	<div class="col-md-9">
　		{{ content }}
<div class="row">
<script type="text/javascript">
			var uyan_config = {
			     'title':'快来参观他的博客吧！'
			};
			</script>
		  	<!-- UY BEGIN -->
			<div id="uyan_frame"></div>
			<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1962990"></script>
			<!-- UY END -->
</div>
	</div>
</div>
{% include footer.html %}
</body>
</html>

